name: vscode-market-publisher

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: Run npm Install 
      run: npm install
    - name: Get the version
      id: get_version
      run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
    - name: Publish
      run: npm run deploy -- $SOURCE_TAG
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
        SOURCE_TAG: ${{ steps.get_version.outputs.SOURCE_TAG }}